{% extends 'assets/base.html' %}
{% load static %}

{% block content %}
    
    {% include 'assets/tool_details/tooldetail_content/tool_related_details.html' %}
    {% include 'assets/tool_details/tooldetail_content/tool_review.html' %}

    <!-- Related Tools -->
    <!-- <section class="py-5">
        <div class="container">
            <h3 class="fw-bold mb-4">Related Tools</h3>
            <div class="row" id="relatedTools"> -->
                <!-- Related tools will be loaded here -->
            <!-- </div>
        </div>
    </section> -->
{% endblock %}
